
@media all and (max-width: 991px) {
    .toggle{
        display: flex;
        justify-content: space-between;
        font-size: 2rem;
        color: white;
        cursor: pointer;
        position: relative;
        align-items: center;
        z-index: 9999;
    }

    .notificationIcon{
        margin-right: 10px;
    }

    .notificationIcon:hover{
        background-color: rgba(252, 252, 253, 0);
        border-radius: 4px;
        border-width: 0;
        box-shadow: none;
        color: rgb(255, 255, 255);
    }

    #logoResponsive{
        display: block;
    }

    .openb {
        display: block;
    }
    .closeb {
        display: none;
    }

    .open .closeb{
        margin-left: 8px;
        display: block;
    }
    .open .openb{
        display: none;
    }

    .mobileFormatNotifLi{
        display: none;
    }

    .menu{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: radial-gradient(100% 100% at 100% 0, #3584ff 0, #2F70CC 100%);
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateY(-110%);
        transition: transform .3s;
        z-index: 999;
    }

    .menu li{
        margin-left:0px;
    }
    .menu li a{
        padding: 15px 20px;
    }

    .open .menu{
        transform: translateX(0%);
    }
}