h2 a {
    font: 1.9rem "Poppins-bold";
    color: #333;
    margin-bottom: .6rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h2 a p{margin-left:7px;}

h2 a:hover {
    font: 1.9rem "Poppins-bold";
    font-weight: 700;
    color: #3584ff;
    /*-webkit-text-stroke: 1px #3584ff;*/
}

.title-article{
    font: 1.9rem "Poppins-bold";
    color: #333;
    margin-bottom: 1rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-article a p{
    color: #333;
}

.title-article a p:hover {
    font: 1.9rem "Poppins-bold";
    font-weight: 700;
    color: #3584ff;
    /*-webkit-text-stroke: 1px #3584ff;*/
}

.title {
    font: 1.3rem "Poppins-Regular";
    color: #333;
    margin-bottom: .6rem;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

form {
    font: .8rem "Poppins-Light";
    display: flex;
    flex-direction: column;
}

.tag-creation{
    margin-top: -0.8rem;
    margin-bottom: 1rem;
    color: #4993ff;
}

.tag-creation:hover{
    color: rgba(73, 147, 255, 0.75);
}

/* when i open my menu, my form go to the background */
.open form{
    position: relative;
    z-index: -999;
}

form small{
    font-size: .7rem;
    font-family: "JetBrains Mono", monospace;

}
form label{
    font: 1rem "Poppins-Light";
}

.paragraph{
    font-family: "Poppins-Light", monospace;
    font-size: .8rem;
    letter-spacing: .07em;
    margin-bottom: 1rem;
    width: 100%;
    text-align: left; /* center aligning the text within the paragraph */
}

.paragraph a{
    color: #4993ff ;
}

.paragraph a:hover{
    color: rgba(73, 147, 255, 0.66);
}

.blueButton{
    width: 100%;
}

/*#div_id_image{*/
/*    display: none;*/
/*}*/
