@font-face {
	font-family: Poppins-bold;
	src: url(../font/Poppins-Bold.ttf);
}

@font-face {
	font-family: Poppins-Black;
	src: url(../font/Poppins-Black.ttf);
}

@font-face {
	font-family: Poppins-Regular;
	src: url(../font/Poppins-Regular.ttf);
}

@font-face {
	font-family: Poppins-Thin;
	src: url(../font/Poppins-Thin.ttf);
}

@font-face {
	font-family: Poppins-Light;
	src: url(../font/Poppins-Light.ttf);
}


/* ScrollBar */
::-webkit-scrollbar {
	width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #e0e0e0;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #b2b2b2;
	border-radius: 3px;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

* {
	padding: 0;
	text-decoration: none; /* no underline */
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}

.d-none{
	display: none;
}

header{
	width: 100%;
	position: sticky;
	top: 0;
}

#navbar{
	width: 100%;
	padding: 10px 25px 10px 25px;
	margin-bottom: 1rem;
	/* background-color: #04121A; */
	/* 	background-image: radial-gradient(100% 100% at 100% 0, #4490ff 0, #2F70CC 100%); */
	background-color: #3584ff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/* navbar shadow */
.add-shadow{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.toggle{
	display: none;
}

#logo{
	width: auto;
	height: 63px;
}

#logoResponsive{
	display: none;
	width: auto;
	height: 73px;
}

/* HEADER - LIST */
.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.menu li{
	margin-left: 13px;
}

/* nav links */
.menu li a{
	color: #f3f3f3;
	font-family: 'Poppins', sans-serif;
	padding: 10px 15px;
	margin: 5px 5px;
	text-decoration : none;
}

.menu li a:after,
.menu li a:before {
	transition: all 0.1s;
	-webkit-transition: 0.1s ease-in-out;
	-moz-transition: 0.1s ease-in-out;
	-ms-transition: 0.1s ease-in-out;
	-o-transition: 0.1s ease-in-out;
}

nav.stroke ul li a,
nav.fill ul li a {
	position: relative;
}
.stroke ul li a:after,
.stroke.fill ul li a:after {
	position: absolute;
	bottom: 2px;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #ffffff;
	height: 1px;
	border-radius: 10px;
}
.stroke ul li a:hover:after {
	width: 35%;
}

/* CONTENT  */
#content{
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

/* button for notif */
.notificationIcon {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 4px;
	color: #ffffff;
	border: none;
	cursor: pointer;
	background: none;
}

.notificationIcon:hover{
	animation: shake 3s;
}

.notificationIcon__badge {
	position: absolute;
	top: 4px;
	right: 3px;
	width: 20px;
	height: 20px;
	background: #ff0c0c;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

@keyframes shake {
	0% { transform: rotate(0deg); }
	8.0% { transform: rotate(0deg); }
	12.0% { transform: rotate(42deg); }
	16.0% { transform: rotate(-35deg); }
	20.0% { transform: rotate(0deg); }
	23.0% { transform: rotate(28deg); }
	26.0% { transform: rotate(-20deg); }
	29.0% { transform: rotate(0deg); }
	31.0% { transform: rotate(16deg); }
	33.0% { transform: rotate(-12deg); }
	35.0% { transform: rotate(0deg); }
	37.0% { transform: rotate(-6deg); }
	39.0% { transform: rotate(0deg); }
	40.0% { transform: rotate(6deg); }
	44.0% { transform: rotate(-3deg); }
	49.0% { transform: rotate(2deg);}
	55.0% { transform: rotate(0deg); }
	62.0% { transform: rotate(1deg); }
	70.0% { transform: rotate(0deg); }
}

@media all and (max-width: 1300px) {
	#logo{
		width: auto;
		height: 58px;
	}
}