
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

* {
	padding: 0;
	text-decoration: none; /* no underline */
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}

.d-none{
	display: none;
}

header{
	width: 100%;
	position: sticky;
	top: 0;
}

#navbar{
	width: 100%;
	padding: 10px 25px 10px 25px;
	margin-bottom: 2rem;
	/* background-color: #04121A; */
	/* 	background-image: radial-gradient(100% 100% at 100% 0, #4490ff 0, #2F70CC 100%); */
	background-color: #3584ff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/* navbar shadow */
.add-shadow{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.toggle{
	display: none;
}

#logo{
	width: auto;
	height: 73px;
}

#logoResponsive{
	display: none;
	width: auto;
	height: 73px;
}

/* HEADER - LIST */
.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.menu li{
	margin-left: 13px;
}

.menu li a{
	color: #f3f3f3;
	font-family: 'Poppins', sans-serif;
	padding: 15px 20px;
}

.menu li a:hover{
	background-color: #FCFCFD;
	border-radius: 4px;
	border-width: 0;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
	color: #36395A;

}

/* ALERT  */
#alter{
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

/* CONTENT  */
#content{
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}


/* white button */
.button3D {
	align-items: center;
	appearance: none;
	background-color: #FCFCFD;
	border-radius: 4px;
	border-width: 0;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
	box-sizing: border-box;
	color: #36395A;
	cursor: pointer;
	display: inline-flex;
	font-family: "JetBrains Mono",monospace;
	height: 48px;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow .15s,transform .15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow,transform;
	font-size: 18px;
}

.button3D:focus {
	box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button3D:hover {
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
	transform: translateY(-2px);
}

.button3D:active {
	box-shadow: #D6D6E7 0 3px 7px inset;
	transform: translateY(2px);
}

/* button for notif */
.notificationIcon {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 4px;
	color: #ffffff;
	border: none;
	cursor: pointer;
	background: none;
}

.notificationIcon:hover{
	background-color: #FCFCFD;
	border-radius: 4px;
	border-width: 0;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
	color: #36395A;
}

.notificationIcon__badge {
	position: absolute;
	top: 4px;
	right: 3px;
	width: 20px;
	height: 20px;
	background: #ff0c0c;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

/* blue button */
.blueButton {
	align-items: center;
	appearance: none;
	background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #4490ff 100%);
	border: 0;
	border-radius: 6px;
	box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-family: "JetBrains Mono",monospace;
	height: 48px;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	text-align: left;
	text-decoration: none;
	transition: box-shadow .15s,transform .15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	font-size: 18px;
	z-index: 0;
}

.blueButton:focus {
	box-shadow: #366dbd 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #366dbd 0 -3px 0 inset;
}

.blueButton:hover {
	box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
	transform: translateY(-2px);
}

.blueButton:active {
	box-shadow: #3c4fe0 0 3px 7px inset;
	transform: translateY(2px);
}


/* flash message */
.toast {
	position: absolute;
	top: 115px;
	right: 30px;
	border-radius: 12px;
	background: #fff;
	padding: 20px 35px 20px 25px;
	box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transform: translateX(calc(100% + 30px));
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
	font-family: "Poppins", sans-serif;
}

.toast.active {
	transform: translateX(0%);
}

.toast .toast-content {
	display: flex;
	align-items: center;
}

.toast-content .check {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	min-width: 35px;
	background-color: #3584ff;
	color: #fff;
	font-size: 20px;
	border-radius: 50%;
}

.toast-content .message {
	display: flex;
	flex-direction: column;
	margin: 0 20px;
}

.message .text {
	font-size: 16px;
	font-weight: 400;
	color: #666666;
}

.message .text.text-1 {
	font-weight: 600;
	color: #333;
}

.toast .close {
	position: absolute;
	top: 10px;
	right: 15px;
	padding: 5px;
	cursor: pointer;
	opacity: 0.7;
}

.toast .close:hover {
	opacity: 1;
}

.toast .progress {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;

}

.toast .progress:before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #3584ff;
}

.progress.active:before {
	animation: progress 5s linear forwards;
}

@keyframes progress {
	100% {
		right: 100%;
	}
}
