{% extends 'main.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block body_content %}
    <div class="title-home">
        <div class="margin">
            <h2 >
                <p  id="live-text1"><br></p>
                <strong id="live-text2"></strong>
            </h2>
        </div>
    </div>

    <div class="margin box mb-3">
        <div class="img-column">
            <img class="image mb-1" src="/static/img/img2.png" alt="">
            <img class="image mt-1" src="/static/img/img1.png" alt="">
        </div>
        <p>
            <i class="fa-sharp fa-solid fa-quote-left"></i>
            Ilonii is a way to focus on what is important and achieve your goals in an efficient and organized manner.
        </p>
    </div>

    <div class="margin mb-3">
        <div class="bg-img"></div>
    </div>

    <div class="margin mb-3">
        <ul class="list">
            <li><p>{{ globalTaskCount }}+</p><small>Tasks </small></li>
            <li><p>{{ globalTaskCountCompleted }}</p><small>Tasks <i class="fa-solid fa-check"></i></small></li>
            <li><p>{{ globalTagCount }}</p><small>Tags</small></li>
        </ul>
    </div>

    {% if user.is_authenticated == False %}
        <div class="margin call-to-action mb-3">
            <p>Don’t have an account yet ?</p>
            <button class="blueButton" onclick="location.href='{% url 'register' %}'">Register</button>
            <a href="{% url 'login' %}">log in</a>
        </div>
    {% endif %}

{% endblock %}
