<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>My to do list</h1>
<table>
    <tr>
        <th>Item</th>
    </tr>
    {% for task in tasks %}
        <tr>
            <td><a href="{% url 'task_detail' task.id %}">{{ task.title }}</a></td>
        </tr>
    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}
</table>
<br>
<a href="{% url 'task_create' %}">Create a task</a>

</body>
</html>