{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block title %}
    Reset password done
{% endblock %}

{% block body_content %}

    <h2 class="font-weight-bold text-center title">Reset password</h2>
    <div class="alert alert-info">
        An email has been sent with instructions to reset your password
    </div>
    <p>Don't have an account ? <a href="{% url 'register' %}">Register</a></p>
    <p>have an account ? <a href="{% url 'login' %}">Sign in</a></p>

{% endblock %}
