{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block title %}
    Reset password
{% endblock %}

{% block body_content %}

    <h2 class="font-weight-bold text-center title">Reset password</h2>

    <form method="POST" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="blueButton" type="submit">Reset password</button>
    </form>


{% endblock %}
