{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block title %}
    Password reset completed
{% endblock %}

{% block body_content %}

    <h2>Password reset completed</h2>
    <div class="alert alert-info">
        Your password has been successfully reset.
    </div>
    <p>connect to your account ? <a href="{% url 'login' %}">Login</a></p>

{% endblock %}
