{% extends 'main.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/content_formatting.css' %}" />
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}" />
{% endblock %}

{% block title %}
    User {{ user_profile.username }}
{% endblock %}

{% block body_content %}

    <canvas class="background"></canvas>
    <div class="media-back">
        <div class="media-content">
            {% if user.profile.image %}
                <img class="account-img" src="{{ user_profile.profile.image.url|default_if_none:'/media/profile_pics/default.jpg' }}">
            {% else %}
                <img class="account-img" src="/media/profile_pics/default.jpg">
            {% endif %}
            <div class="media-text">
                <h2 class="account-name">{{ user_profile.username }}</h2>
                <p class="account-email"><i class="fa-solid fa-envelope"></i> {{ user_profile.email }}</p>
                <h3>Bio</h3>
                {% if user_profile.profile.bio %}
                <p class="account-bio"><i class="fa-solid fa-scroll"></i> {{ user_profile.profile.bio }}</p>
                {% endif %}
                <h3>Inolii member since</h3>
                <p class="account-bio"><i class="fa-solid fa-calendar-days"></i> {{ user_profile.date_joined  }}</p>
                <a class="edit" href="{% url 'profile_update' %}">Edit</a>
            </div>
        </div>
    </div>

{% endblock %}
