{% extends 'main.html' %}

{% block title %}
    User {{ user_profile.username }}
{% endblock %}

{% block body_content %}

    <div class="media">
        {% if user_profile.profile.image %}
            <img class="rounded-circle account-img" src="{{ user_profile.profile.image.url|default_if_none:'/media/profile_pics/default.jpg' }}">
        {% else %}
                <img class="rounded-circle account-img" src="/media/profile_pics/default.jpg">
        {% endif %}
        <div class="media-body">
            <h2 class="account-heading">{{ user_profile.username }}</h2>
            <p class="text-secondary">{{ user_profile.email }}</p>
            <p class="text-secondary">{{ user_profile.profile.bio }}</p>
            <a href="{% url 'profile_update' %}">Edit</a>

        </div>
    </div>

{% endblock %}
