{% extends 'main.html' %}
{% load static %}

{% block css %}
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/list.css' %}" />
    <link rel="stylesheet" href="{% static 'css/content_formatting.css' %}" />
{% endblock %}

{% block title %}
    Notification
{% endblock %}

{% block body_content %}

    <!-- Current task -->
    <div class="current-task">
        <h2 class="title-current">Notification</h2>
        {% if tasks_to_do_late %}
            <h3><i class="fa-solid fa-truck-fast"></i></h3>
            <!-- LATE -->
            {% for task in tasks_to_do_late %}
                <div class="task">
                    <a class="blue-icon" href="{% url 'notification_task_completed' task.id user.id %}"><i class="fa-regular fa-square"></i></a>
                    <a class="edit" href="{% url 'task_update' task.id %}">
                        <div class="with-date">
                            <p class="task-title">{{ task.title }}</p>
                            <small>{{ task.date_to_do }}</small>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}


        {% if tasks_to_do_today %}
            <h3><i class="fa-solid fa-truck"></i></h3>
            <!-- TODAY -->
            {% for task in tasks_to_do_today %}
                <div class="task">
                    <a class="blue-icon" href="{% url 'notification_task_completed' task.id user.id %}"><i class="fa-regular fa-square"></i></a>
                    <a class="edit" href="{% url 'task_update' task.id %}">
                        <div class="with-date">
                            <p class="task-title">{{ task.title }}</p>
                            <small>{{ task.date_to_do }}</small>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}

        {% if tasks_to_do_today_count == 0 and tasks_to_do_late_count == 0 %}
            <!-- EMPTY CONDITION -->
            <p class="no-items">Nothing to report</p>
        {% endif %}
    </div>

{% endblock %}
