{% extends 'main.html' %}

{% block title %}
    Task list
{% endblock %}

{% block body_content %}
<h1>My to do list</h1>
<table>
    <tr>
        <th>Item</th>
    </tr>
    {% for task in tasks %}
        <tr>
            <td><a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>
                <a href="{% url 'task_update' task.id %}">edit</a>
                <a href="{% url 'task_delete' task.id %}">delete</a></td>
        </tr>
    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}
</table>
<br>
<a href="{% url 'task_create' %}">Create a task</a>

{% endblock %}
