{% extends 'main.html' %}

{% block title %}
    Task form
{% endblock %}

{% block body_content %}

    <h3>Task form</h3>
    {% if admin %}<h4> {{ admin }}</h4>{% endif %}

    <a href="{% url 'tasks' %}">go back </a>

    <form action="" method="post">
        {% csrf_token %}
        <div style="flex-direction: column">

            {% if admin %}
                <div style="margin-bottom: 10px">
                    <label for="user">User name : </label>
                    {{ form.user }}
                </div>
            {% endif %}

            <div style="margin-bottom: 10px">
                <label for="title">Title : </label>
                {{ form.title }}
            </div>
            <label for="description">Description : </label>
            <div style="margin-bottom: 10px">
                {{ form.description }}
            </div>
            <div style="margin-bottom: 10px">
                <label for="date">Deadline :</label>
                {{ form.date_to_do }} <!-- DATA PICKER DJANGO : https://simpleisbetterthancomplex.com/tutorial/2019/01/03/how-to-use-date-picker-with-django.html -->

            </div>

            <div style="margin-bottom: 10px">
                <label for="completed">Tags : </label>
                {{ form.tags }}
                {% if task.id %}
                    <a href="{% url 'tag_create_pk' task.id %}">+</a>
                {% else %}
                    <a href="{% url 'tag_create' %}">+</a>
                {% endif %}

            </div>

            <div style="margin-bottom: 10px">
                <label for="completed">Completed : </label>
                {{ form.complete }}
            </div>

            {% if task.id %}
                <button type="submit">Update</button>
            {% else %}
                <button type="submit">Create</button>
            {% endif %}
        </div>
    </form>

{% endblock %}
