{% extends 'main.html' %}

{% block title %}
    Task list
{% endblock %}

{% block body_content %}
    <!-- Search -->
    <form method="GET" action="">
        <input placeholder="Search" type="text" name="search-area" value="{{ search_input }}">
        <input type="submit" value="Search">
        {% if search_input %}
            <a href="{% url 'tasks' %}">x</a>
        {% endif %}
    </form>

    <!-- Nav -->
    <nav>
        <a href="{% url 'task_create' %}">Create a task</a>
    </nav>

    <!-- Current task -->
    <div>

        <h2>Current task </h2>
        {% if admin %}
            <ul> <!-- Admin task -->
                {% for task in tasks_not_completed %}

                    <li>
                        {{ task.user }} :
                        {{ task.creation_date }} -
                        {{ task.title }} -
                        <a href="{% url 'task_detail' task.id %}">see</a>
                        <a href="{% url 'task_update' task.id %}">edit</a>
                        <a href="{% url 'task_delete' task.id %}">delete</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}


        {% if tasks_to_do_late %}
            <h3>Late</h3>
            <ul> <!-- LATE -->
                {% for task in tasks_to_do_late %}
                    <li>
                        {{ task.title }} -
                        <a href="{% url 'task_detail' task.id %}">see</a>
                        <a href="{% url 'task_update' task.id %}">edit</a>
                        <a href="{% url 'task_delete' task.id %}">delete</a>
                    </li>

                {% endfor %}
            </ul>
        {% endif %}


        {% if tasks_to_do_today %}
            <h3>Today</h3>
            <ul> <!-- TODAY -->
                {% for task in tasks_to_do_today %}

                    <li>
                        {{ task.title }} -
                        <a href="{% url 'task_detail' task.id %}">see</a>
                        <a href="{% url 'task_update' task.id %}">edit</a>
                        <a href="{% url 'task_delete' task.id %}">delete</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}


        {% if tasks_to_do_next_weeks %}
            <h3>Coming</h3>
            <ul> <!-- NEXT WEEKS -->
                {% for task in tasks_to_do_next_weeks %}

                    <li>
                        {{ task.title }} -
                        <a href="{% url 'task_detail' task.id %}">see</a>
                        <a href="{% url 'task_update' task.id %}">edit</a>
                        <a href="{% url 'task_delete' task.id %}">delete</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}


        {% if tasks_not_completed_no_date %}
            <h3>No date</h3>
            <ul> <!-- NO DATE -->
                {% for task in tasks_not_completed_no_date %}

                    <li>
                        {{ task.title }} -
                        <a href="{% url 'task_detail' task.id %}">see</a>
                        <a href="{% url 'task_update' task.id %}">edit</a>
                        <a href="{% url 'task_delete' task.id %}">delete</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}


        {% for task in tasks_to_do %}
        {% empty %}
            <!-- EMPTY CONDITION -->
            <ul><li><h3>No items yet</h3></li></ul>
        {% endfor %}
    </div>

    {% if show_completed_task == True %}
        <hr>
        <!-- Completed task -->
        <div>
            <h2>Completed task </h2>
            <ul> <!-- COMPLETED TASK -->
                {% for task in tasks_completed %}
                    <li>
                        {% if admin %}
                            {{ task.user }} :
                            {{ task.creation_date }} -
                        {% endif %}
                        <strike>{{ task.title }}</strike> -
                        <a href="{% url 'task_detail' task.id %}">see</a>
                        <a href="{% url 'task_update' task.id %}">edit</a>
                        <a href="{% url 'task_delete' task.id %}">delete</a>
                    </li>

                {% empty %}
                    <li><h3>No items yet</h3></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
