{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/content_formatting.css' %}" />
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block title %}
    Task form
{% endblock %}

{% block body_content %}
    <h2><a href="{% url 'tasks' %}"><i class="fa-sharp fa-solid fa-list-check"></i> <p>Task</p></a></h2>
    <form method="POST" action="">
        {% csrf_token %}
        {% if admin %}<p> {{ admin }}</p>{% endif %}

        {{ form|crispy }}
        {% if task.id %}
            <button type="submit" class="blueButton">Update</button>
        {% else %}
            <button type="submit" class="blueButton">Create</button>
        {% endif %}
    </form>

{% endblock %}
