{% extends 'main.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}" />
    <link rel="stylesheet" href="{% static 'css/content_formatting.css' %}" />
{% endblock %}

{% block title %}
    Tag list
{% endblock %}

{% block body_content %}
    <!-- Search -->
    <form method="GET" class="search-form">
        <input placeholder="Search" class="search-field" type="text" name="search-area" value="{{ search_input }}">
        {% if not search_input %}
            <button class="btn search-btn" type="submit" value="Search"><i class="fa fa-search"></i></button>
        {% else %}
            <button class="btn search-btn" type="reset" onclick="location.href='{% url 'tags' %}'"><i class="fa-solid fa-xmark"></i></button>
        {% endif %}
    </form>

    <!-- Nav -->
    <button class="button-create" onclick="location.href='{% url 'tag_create' %}'">
        <i class="fa-solid fa-square-plus"></i>
    </button>

    <div class="create-button-mobile">
        <button  onclick="location.href='{% url 'tag_create' %}'">
            <i class="fa-regular fa-plus"></i>
        </button>
    </div>

    <div class="current-task">
        <h2 class="title-current">Tags </h2>

        {% for tag in tags %}
            <div class="task">
                <a class="edit" href="{% url 'tag_update' tag.id %}">
                    <div class="with-date">
                        <p class="task-title">{{ tag.tag_name }}</p>
                    </div>
                </a>
                <a class="blue-icon" href="{% url 'tag_delete' tag.id %}"><i class="fa-solid fa-trash"></i></a>
            </div>
        {% empty %}
            <p class="no-items">No tags yet</p>
        {% endfor %}
    </div>
{% endblock %}
